%h1
  =label_tag 'Listing presentations'
  -# -if @current_user.prepod?
  =link_to image_tag('icon.png',size: "36x36"), new_document_path, class: 'col-md-offset-1'

%table.table
  %thead
    %tr
      %th Document
      %th User
      %th Comment
      %th Groups
      %th Last open slide
      %th Auto open
      %th
      %th
      %th
  %tbody
    - @presentations.each do |presentation|
      %tr
        %td= presentation.document.id
        %td= presentation.user.full_name
        %td= presentation.comment
        %td= presentation.groups
        %td= presentation.last_open_slide
        %td= presentation.auto_open
        %td= link_to image_tag('computer.png',size: "16x16"), presentation_show_path(id: presentation, slide: 0, show: :show)
        %td= link_to image_tag('drawing.png',size: "16x16"), edit_presentation_path(presentation)
        %td= link_to image_tag('delete.png',size: "16x16"), presentation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Presentation', new_presentation_path
